:host {
    background-color: grey;
    width: 100%;
}
.hostDiv {
    text-align:center;
    position: relative;
    width: 80%;
    margin-left: 10%;
}
    .mainContainer {
        background-color: lightblue;
        display: flex;
    }
    .prodContainer {
        width: 75%;
    }
    .cartContainer {
        width: 25%;
        border-radius: 3%;
        box-shadow: -2px 0px 1px -1px black;
    }
